In [1]:
# Code from PS2Q3
import numpy as np
import pandas as pd

In [2]:
# Code from PS2 Q3

# Read the demographic datasets
demo_G = pd.read_sas(filepath_or_buffer="./ps2_data/DEMO_G.XPT")
demo_H = pd.read_sas(filepath_or_buffer="./ps2_data/DEMO_H.XPT")
demo_I = pd.read_sas(filepath_or_buffer="./ps2_data/DEMO_I.XPT")
demo_J = pd.read_sas(filepath_or_buffer="./ps2_data/DEMO_J.XPT")

# Add cohort numbers
demo_G['cohort'] = "11-12"
demo_H['cohort'] = "13-14"
demo_I['cohort'] = "15-16"
demo_J['cohort'] = "17-18"

# Append the demographic datasets
demo = pd.concat([demo_G, demo_H, demo_I, demo_J])

# Changed! also include gender!
col_list = ['cohort', 'SEQN', 'RIDAGEYR', 'RIAGENDR',
            'DMDEDUC2', 'RIDSTATR']
temp_dict = {'SEQN': 'id', 'RIDAGEYR': 'age',
             'RIAGENDR':'gender',
             'DMDEDUC2': 'edu',
             'RIDSTATR': 'exam_status'}

demo = demo[col_list]

# Rename the columns with literate variable names using all lower case
demo = demo.rename(columns=temp_dict)

# Change NaN entries to -1
demo = demo.fillna(-1)

# converting columns from float to int
temp_list = ['id', 'age', 'gender',
             'edu', 'exam_status']
for i in temp_list:
    demo[i] = demo[i].apply(np.int64)

# Sanity check: displaying the datatypes
demo.dtypes

,cohort,respondent_seq_num,age,race_ethnicity,edu,marital_status,if_examination,masked_variance_pseudo_psu,masked_variance_pseudo_stratum,full_samp_2yr_mec_exam_weight,full_samp_2yr_mec_interview_weight
0,11-12,62161.0,22.0,3.0,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474
1,11-12,62162.0,3.0,1.0,-1.0,-1.0,2.0,3.0,92.0,16116.354010,15457.736897
2,11-12,62163.0,14.0,6.0,-1.0,-1.0,2.0,3.0,90.0,7869.485117,7397.684828
3,11-12,62164.0,44.0,3.0,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299
4,11-12,62165.0,14.0,4.0,-1.0,-1.0,2.0,2.0,90.0,13384.042162,12209.744980
...,...,...,...,...,...,...,...,...,...,...,...
9249,17-18,102952.0,70.0,6.0,3.0,1.0,2.0,2.0,138.0,18338.711104,16896.276203
9250,17-18,102953.0,42.0,1.0,3.0,4.0,2.0,2.0,137.0,63661.951573,61630.380013
9251,17-18,102954.0,41.0,4.0,5.0,5.0,2.0,1.0,144.0,17694.783346,17160.895269
9252,17-18,102955.0,14.0,4.0,-1.0,-1.0,2.0,1.0,136.0,14871.839636,14238.445922
9253,17-18,102956.0,38.0,3.0,4.0,3.0,2.0,1.0,142.0,39426.299948,38645.740291

In [4]:
demo['gender'] = pd.Categorical(
    demo['gender'].replace({1: 'Male',
                            2: 'Female',
                            -1: 'missing'}))

# Save the resulting data frame to a serialized “round-trip” format
demo.to_pickle("./DEMO_updated.pkl")
demo

,cohort,respondent_seq_num,age,race_ethnicity,edu,marital_status,if_examination,masked_variance_pseudo_psu,masked_variance_pseudo_stratum,full_samp_2yr_mec_exam_weight,full_samp_2yr_mec_interview_weight
0,11-12,62161,22,non_hispanic_white,high_school_grad_or_GED,never_married,both_interviewed_n_mec_examed,1,91,104236.582554,102641.406474
1,11-12,62162,3,mexican_american,missing,missing,both_interviewed_n_mec_examed,3,92,16116.354010,15457.736897
2,11-12,62163,14,non_hispanic_white,missing,missing,both_interviewed_n_mec_examed,3,90,7869.485117,7397.684828
3,11-12,62164,44,non_hispanic_white,some_college,married,both_interviewed_n_mec_examed,1,94,127965.226204,127351.373299
4,11-12,62165,14,non_hispanic_black,missing,missing,both_interviewed_n_mec_examed,2,90,13384.042162,12209.744980
...,...,...,...,...,...,...,...,...,...,...,...
9249,17-18,102952,70,non_hispanic_white,high_school_grad_or_GED,married,both_interviewed_n_mec_examed,2,138,18338.711104,16896.276203
9250,17-18,102953,42,mexican_american,high_school_grad_or_GED,separated,both_interviewed_n_mec_examed,2,137,63661.951573,61630.380013
9251,17-18,102954,41,non_hispanic_black,college_grad_or_above,never_married,both_interviewed_n_mec_examed,1,144,17694.783346,17160.895269
9252,17-18,102955,14,non_hispanic_black,missing,missing,both_interviewed_n_mec_examed,1,136,14871.839636,14238.445922
9253,17-18,102956,38,non_hispanic_white,some_college,divorced,both_interviewed_n_mec_examed,1,142,39426.299948,38645.740291

In [5]:
# Read the oral health and dentition data
ohxden_G = pd.read_sas(filepath_or_buffer="../ps2_data/OHXDEN_G.XPT")
ohxden_H = pd.read_sas(filepath_or_buffer="../ps2_data/OHXDEN_H.XPT")
ohxden_I = pd.read_sas(filepath_or_buffer="../ps2_data/OHXDEN_I.XPT")
ohxden_J = pd.read_sas(filepath_or_buffer="../ps2_data/OHXDEN_J.XPT")

# Add cohort numbers
ohxden_G['cohort'] = "11-12"
ohxden_H['cohort'] = "13-14"
ohxden_I['cohort'] = "15-16"
ohxden_J['cohort'] = "17-18"

# Append the datasets
ohxden = pd.concat([ohxden_G, ohxden_H, ohxden_I, ohxden_J])

# Keep wanted columns
ohxden = ohxden.filter(regex=('cohort|SEQN|OHDDESTS|OHX\d\dTC|OHX\d\dCTC'))
ohxden = ohxden.rename(columns={'SEQN': 'respondent_seq_num',
                    'OHDDESTS': 'dentition_status_code'})

# shift column 'cohort' to first position
first_column = ohxden.pop('cohort')
ohxden.insert(0, 'cohort', first_column)

# rename columns to lower case
ohxden.columns= ohxden.columns.str.lower()

# 'ohx02ctc' to 'ohx09ctc'
x_0 = ['ohx0'+ str(i) +'ctc' for i in range(2, 10)]
# 'ohx10ctc' to 'ohx15ctc'
x_1 = ['ohx'+ str(i) +'ctc' for i in range(10, 16)]
# 'ohx18ctc' to 'ohx31ctc'
x_2 = ['ohx'+ str(i) +'ctc' for i in range(18, 32)]

col_list = x_0 + x_1 + x_2
# print(col_list)  # Sanity check

# utf-8
for col in col_list:
    ohxden[col] = ohxden[col].str.decode('utf-8')

# Change NaN entries to -1
ohxden = ohxden.fillna(-1)

# 'ohx01tc' to 'ohx09tc'
y_0 = ['ohx0'+ str(i) +'tc' for i in range(1, 10)]
# 'ohx10tc' to 'ohx32tc'
y_1 = ['ohx'+ str(i) +'tc' for i in range(10, 33)]

tc_list = y_0 + y_1

# converting columns from float to int
temp_list = ['respondent_seq_num',
             'dentition_status_code'] + tc_list
for i in temp_list:
    ohxden[i] = ohxden[i].apply(np.int64)
    
# displaying the datatypes
display(ohxden.dtypes)

cohort                   object
respondent_seq_num        int64
dentition_status_code     int64
ohx01tc                   int64
ohx02tc                   int64
                          ...
ohx27ctc                 object
ohx28ctc                 object
ohx29ctc                 object
ohx30ctc                 object
ohx31ctc                 object
Length: 63, dtype: object

In [6]:
for i in tc_list:
    ohxden[i] = pd.Categorical(
        ohxden[i].replace({1: 'primary_tooth_present',
                           2: 'permanent_tooth_present',
                           3: 'dental_implant',
                           4: 'tooth_not_present',
                           5: 'permanent_dental_root_fragment_present',
                           9: 'no_access',
                           -1: 'missing'}))

# Save the resulting data frame to a serialized “round-trip” format
ohxden.to_pickle("./OHXDEN.pkl")

ohxden

,cohort,respondent_seq_num,dentition_status_code,ohx01tc,ohx02tc,ohx03tc,ohx04tc,ohx05tc,ohx06tc,ohx07tc,...,ohx22ctc,ohx23ctc,ohx24ctc,ohx25ctc,ohx26ctc,ohx27ctc,ohx28ctc,ohx29ctc,ohx30ctc,ohx31ctc
0,11-12,62161,1,tooth_not_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,Z,S
1,11-12,62162,1,tooth_not_present,tooth_not_present,tooth_not_present,primary_tooth_present,primary_tooth_present,primary_tooth_present,primary_tooth_present,...,D,D,D,D,D,D,D,D,U,U
2,11-12,62163,1,tooth_not_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,Y,S
3,11-12,62164,1,tooth_not_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,Z,Z
4,11-12,62165,1,tooth_not_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,17-18,102952,1,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,S,S
8362,17-18,102953,1,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,S,Z
8363,17-18,102954,1,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,F,S,S
8364,17-18,102955,1,tooth_not_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,S,Z
8365,17-18,102956,1,tooth_not_present,tooth_not_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,permanent_tooth_present,...,S,S,S,S,S,S,S,S,S,E

In [7]:
[demo.shape[0], ohxden.shape[0]]

[39156, 35909]